$color-green-lizard: rgba(174, 224, 58, 1);
$color-hansa-yellow: rgba(242, 221, 110, 1);
$color-peach: rgba(255, 192, 159, 1);
$color-flavescent: rgba(255, 238, 147, 1);
$color-lemon-chiffon: rgba(252, 245, 199, 1);


$color-primary: rgba(174, 224, 58, 1);
$color-accent: rgba(255, 192, 159, 1);

$color-text-primary: rgba(60, 72, 89, 1);
